<!-- templates/authentication/profile.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Profile - Student Volunteer Platform{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="card-title">{{ user.get_full_name|default:user.username }}</h3>
                    <p class="text-muted">{{ user.email }}</p>
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
                    {% else %}
                        <img src="{% static 'images/default-avatar.png' %}" alt="Default Profile Picture" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Profile Details</h3>
                    <p>Welcome to your profile page! This page will be customized based on whether you are a student or volunteer.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}